.form {
  font-family: monospace;
}

  .form__label {
    display: block;
    margin-bottom: 10px;
  }

  .form__input {
  }

    .form__input--error {
      border: 1px solid red;
    }

  .form__button {
    font-family: monospace;
  }
