.form {
  font-family: monospace;
}

  .form__label {
    display: block;
    margin-bottom: 10px;
  }

  .form__input {
    border: 1px solid #999;
  }

    .form__input--error {
      border-color: red;
    }

  .form__button {
    font-family: monospace;
  }
