.form {
  font-family: monospace;
  margin-bottom: 20px;
}

  .form__label {
    display: block;
    margin-bottom: 10px;
  }

  .form__input {
    padding-left: 4px;
    border: 1px solid #999;
  }

    .form__input.error {
      border-color: red;
    }

  .form__button {
    font-family: monospace;
  }

.result-container {
  padding: 10px;
  border-left: 3px solid transparent;
}

  .result-container.success {
    border-color: green;
  }

  .result-container.error {
    border-color: red;
  }
